body {
  margin: 0px;
  font-family: "Avenir", Arial, Helvetica, sans-serif;
}
.container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 1.2rem;
}
ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
a {
  font-weight: bold;
  text-decoration: none;
  color: #234;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.conteudo {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(150px, 400px);
  gap: 1.875rem;
}
@media (max-width: 28.125rem) {
  .conteudo {
    display: block;
  }
}

/* BTN TABELA */

.btn-tabela {
  border: none;
  background-color: #4b8;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 15px 2.5rem;
  font-size: 1rem;
  margin-top: 0.75rem;
  margin-bottom: 2.5rem;
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
}

/* HEADER */

header {
  background-color: #234;
}

header a {
  color: #fff;
}

a.router-link-active {
  color: #4b8;
}

nav {
  max-width: 50rem;
  margin: 0 auto;
  display: flex;
  align-content: space-between;
  align-items: center;
  padding: 1.2rem;
  flex-wrap: wrap;
}

.logo {
  flex: 1;
}

.logo img {
  max-width: 220px;
}

ul li {
  display: inline-block;
}

li a {
  padding: 0 0.75rem;
  margin-right: 0.75rem;
}

/* FOOTER */

footer {
  text-align: center;
}
